﻿#chart_div {
    width: 700px;
    max-width: 100%;
    height: 440px;
    border: 2px solid white;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    margin-top: 7px;
}

.nosukces-par {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

body {
    background-image: URL(/Content/niebo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 100%;
}

#gora {
    background: white;
    width: 1000px;
    max-width: 100%;
    height: 150px;
    box-shadow: 5px 5px 10px gray;
}

#zdjecie {
    padding: 16.5px 44px 16.5px 44px;
    float: left;
}

#cytat {
    flex: 70%;
    width: 520px;
    max-width: 100%;
    float: left;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 115px;
    color: black;
    text-align: center;
}

#goraopis {
    margin-left: 10px;
    float: left;
    height: 150px;
    max-width: 350px;
    width: 100%;
    color: #5f5f5f;
}

#container {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#dol {
    clear: both;
    display: flex;
}

#dollewy {
    flex: 20%;
    height: 320px;
    width: 195px;
}

#dolprawy {
    flex: 80%;
    background-color: #ffffff;
    color: #0099ff;
    border: 3px dotted white;
    height: 290px;
    width: 779px;
    max-width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 5px 5px 5px gray;
    opacity: 0.9;
}

.menuboczne {
    width: 190px;
    line-height: 45px;
    border-radius: 8px;
    text-align: center;
    background-color: #00aaff;
    margin-top: 15px;
    margin-left: 3px;
    opacity: 0.8;
}

a:focus {
    outline: none;
}

a.menu {
    color: white;
    text-decoration: none;
    display: block;
}

    a.menu:hover {
        color: gold;
        border-radius: 8px;
        background-color: gray;
        box-shadow: 5px 5px 10px gray;
    }

#kontakt {
    color: gray;
    margin-left: 15px;
}

#semestr {
    margin-left: 15px;
    color: gray;
}

#footer {
    clear: both;
    width: 1000px;
    text-align: center;
    background-color: #0099ff;
    font-size: 18px;
    margin-top: 5px;
    color: white;
    padding: 10px;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    #gora {
        background: rgba(0,0,0,0.7);
    }

    #zdjecie {
        padding-left: 5px;
        padding-right: 5px;
    }

    #goraopis {
        color: white;
        opacity: 0.8;
    }

    #dol {
        display: block;
    }

    #dollewy {
        width: 100%;
        height: auto;
    }

    .menuboczne {
        width: 100%;
        border-radius: 0;
        margin: 0;
        letter-spacing: 0.2mm;
        border-top: solid 1px white;
    }

        .menuboczne:last-child {
            border-bottom: solid 1px white;
        }

        .menuboczne a:hover {
            border-radius: 0;
        }

    #dolprawy {
        margin: 0;
        border: none;
    }

    #kontakt {
        font-size: 11px;
    }

    #cytat {
        float: none;
        display: block;
        clear: both;
        font-size: 21px;
        margin: 30px auto 30px auto;
    }
}

@media only screen and (max-width: 500px) {
    #goraopis {
        clear: both;
        float: none;
        display: block;
        text-align: center;
        max-width: 100%;
        margin: 0;
    }

    #gora {
        height: 300px;
    }

    #zdjecie {
        text-align: center;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
