﻿@{
    ViewBag.Title = "Strona główna";
}

<body>
    <div id="container">
        @Html.Partial("/Views/Shared/_HeaderPartial.cshtml")
        <div id="dol">
            @Html.Partial("/Views/Shared/_MenuBocznePartial.cshtml")
            <div id="cytat">
                Always code as if the guy who ends up maintaining your code will be
                a violent psychopath who knows where you live.
            </div>
        </div>
        @Html.Partial("/Views/Shared/_FooterPartial.cshtml")
    </div>
</body>
