﻿@{
    ViewBag.Title = "PracaMagisterska";
}

<body>
    <div id="container">
        @Html.Partial("/Views/Shared/_HeaderPartial.cshtml")

        <div id="dol">
            @Html.Partial("/Views/Shared/_MenuBocznePartial.cshtml")
            <div id="dolprawy">
                Generowanie toru ruchu dla maszyn CNC na podstawie programu technologicznego G-CODE
            </div>
        </div>
        @Html.Partial("/Views/Shared/_FooterPartial.cshtml")
    </div>
</body>



