﻿<div id="gora">
    <div id="zdjecie">
        <img src="/Content/pawl.png" alt="Paweł" width="105" height="117">
    </div>
    <div id="goraopis">
        <h2>Paweł Dobrzyński </h2>
        Uniwersytet Mikołaja Kopernika <br>
        Wydział Fizyki Astronimoii i Informatyki Stosowanej <br>
        Informatyka Stosowana
    </div>
</div>

