﻿<div id="dollewy">
    <div class="menuboczne">
        @Html.ActionLink("STRONA GLOWNA", "Index", "Home", null, new { @class = "menu" })
    </div>
    <div class="menuboczne">
        @Html.ActionLink("SENESTR II", "Semestr", "Home", null, new { @class = "menu" })
    </div>
    <div class="menuboczne">
        @Html.ActionLink("PROJEKTY", "Projekty", "Home", null, new { @class = "menu" })
    </div>
    <div class="menuboczne">
        @Html.ActionLink("PRACA MAGISTERSKA", "PracaMagisterska", "Home", null, new { @class = "menu" })
    </div>
    <div class="menuboczne">
        @Html.ActionLink("KONTAKT", "Kontakt", "Home", null, new { @class = "menu" })
    </div>
</div>

